<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('bundles/static/css/bootstrap.css')}}" type="text/css">
        <link rel="stylesheet" href="{{asset('bundles/static/css/bootstrap-responsive.css')}}" type="text/css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" type="text/css">
        <link rel="stylesheet" href="{{asset('bundles/static/css/estilos.css')}}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block javascripts %}
        <script src="{{asset('bundles/static/js/front.js')}}" type="text/javascript"></script>
        <script src="//code.jquery.com/jquery-1.9.1.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        <footer>
            <div class="container">
                <div class="row border-bottom">
                    <div class="span3">Descubre Beanax</div>
                    <div class="span3">Descubre Beanax</div>
                    <div class="span3">Beanax</div>
                    <div class="span3">Stay Connected</div>
                </div>
                <div class="row">
                    <div class="span3">
                        <ul>
                            <li><a href="#">Confianza y Seguridad</a></li>
                            <li><a href="#">Invita a tus amigos</a></li>
                            <li><a href="#">Razones para aprender</a></li>
                            <li><a href="#">Historias</a></li>
                        </ul>
                    </div>
                    <div class="span3">
                        <ul>
                            <li><a href="#">Empresa</a></li>
                            <li><a href="#">Acerca de Beanax</a></li>
                            <li><a href="#">Prensa</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Ayuda</a></li>
                            <li><a href="#">Políticas</a></li>
                        </ul>
                    </div>
                    <div class="span3">
                        <ul>
                            <li><a href="#">Ser un profesor responsable</a></li>
                            <li><a href="#">Respuesta a tus dudas</a></li>
                            <li><a href="#">Nunca es tarde para empezar</a></li>
                            <li><a href="#">Condiciones y privacidad</a></li>
                        </ul>
                    </div>
                    <div class="span3">
                        <ul>
                            <li class="li-icon rss"><a href="#">Feed RSS</a></li>
                            <li class="li-icon twitter"><a href="#">twitter.com/beanax</a></li>
                            <li class="li-icon facebook"><a href="#">facebook.com/beanax</a></li>
                            <li class="li-icon instagram"><a href="#">instagram.com/beanax</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </footer>
    </body>
</html>
