{% extends '::frontend.html.twig' %}
{% block id 'user_login' %}
{% block title %}Formulario de acceso{% endblock %}
{% block article %}
<section class="login">
    <div class="form-login">
        <div class="brand">
            <img src="{{asset('bundles/static/images/logo_azul.png')}}" alt="">
        </div>
        <h2>{{ block('title') }}</h2>
        
        <div class="flash-profile" style="width: 99%;">
            {% for message in app.session.flashbag.get('info') %}
                <p class="flash-info"><span class="success_icon"></span>{{ message }}</p>
            {% endfor %}  
        </div>
        {% if error %}
            <div class="flash-identification">
                <div class="errors">
                    <span class="error_icon"></span>{{ error.message | replace({"Bad credentials": "Identificaci칩n err칩nea"}) }}
                </div>
            </div>
        {% endif %}
        <form action="{{ path('user_login_check') }}" method="post" class="mt10">
            <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Usuario"/>
            <input type="password" id="password" name="_password" placeholder="Contrase침a"/>  
            <span style="float:right; width: 100%; text-align: right; margin-top: 2px; margin-right: 7px;">
                <label for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me" checked="">
                    No cerrar sesi칩n
                </label>
            </span>
            <input class="boton boton-submit block" type="submit" value="Acceder">          
        </form>
    </div>
</section>
{% endblock %}
{% block aside %}{% endblock %}
