{% extends '::frontend.html.twig' %}
{% block id 'user_login' %}
{% block title %}Formulario de acceso{% endblock %}
{% block article %}
<div class="hero">
    <div class="register">
        <!--<h1>{{ block('title') }}</h1> -->

        <div class="flash-profile" style="width: 99%;">
            {% for message in app.session.flashbag.get('info') %}
            <p class="flash-info"><span class="success_icon"></span>{{ message }}</p>
            {% endfor %}  
        </div>
        {% if error %}
        <div class="flash-identification">
            <div class="errors">
                <span class="error_icon"></span>{{ error.message | replace({"Bad credentials": "Identificaci칩n err칩nea"}) }}
            </div>
        </div>
        {% endif %}
        <form action="{{ path('user_login_check') }}" method="post" class="mt10">
            <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Nombre de usuario" />
            <input type="password" id="password" name="_password" placeholder="Contrase침a" />  
            <label for="remember_me"> <input type="checkbox" id="remember_me" name="_remember_me" checked="">No cerrar sesi칩n</label>
            <input class="boton boton-submit" type="submit" value="Acceder">          
        </form>
    </div>
</div>
{% endblock %}
{% block aside %}{% endblock %}
