{% extends '::frontend.html.twig' %}
{% block id 'user_student_register' %}
{% block title %}Regístrate como alumno{% endblock %}
{% block article %} 
<div>
  <div class="container mt20">
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="brand">
          <img src="{{ asset('bundles/static/images/logos/logo_azul.png')}}" alt="Beanax">
        </div>
        <h1>{{ block('title') }}</h1>
        {% if errorMsg | length > 0  or form_errors(form) | length > 0 %}
        <div class="errors">
          {% if errorMsg | length > 0 %}
          <div><span class="error_icon"></span>{{ errorMsg }}</div>
          {% endif %}
          {% if form_errors(form) | length > 0 %}
          <div><span class="error_icon"></span>{{ form_errors(form) }}</div>
          {% endif %}
        </div>
        {% endif %}
      </div>
      <div class="col-lg-offset-2 col-sm-3 col-md-3">
        <div class="register">
          <form class="form-horizontal" action="{{ path('user_student_register', { 'errorMsg': 0 }) }}" method="post" {{ form_enctype(form) }}>

            <fieldset>

              <legend>Datos de acceso</legend>

              <div class="form-group">
                {{ form_errors(form.email)  }}
                {{ form_widget(form.email, { 'attr': {'class': 'form-control','placeholder': 'Email' } }) }}
              </div>   

              <div class="form-group">
                {{ form_errors(form.password.first) }}
                {{ form_widget(form.password.first, { 'attr': {'class': 'form-control','placeholder': 'Contraseña' } }) }}
              </div>         

              <div class="form-group">
                {{ form_widget(form.password.second, { 'attr': {'class': 'form-control','placeholder': 'Repita la contraseña' } }) }}
              </div>

            </fieldset>

            <fieldset>

              <legend>Datos personales</legend>

              <div class="form-group">
                {{ form_errors(form.name)  }}
                {{ form_widget(form.name, { 'attr': {'class': 'form-control','placeholder': 'Nombre' } }) }}
              </div>

              <div class="form-group">
                {{ form_errors(form.surnames)  }}
                {{ form_widget(form.surnames, { 'attr': {'class': 'form-control', 'placeholder': 'Apellidos' } }) }}
              </div>

            </fieldset>

            <input class="btn btn-primary form-control" type="submit" value="Registrarme">

            <div style="display:none">
              {{ form_end(form) }}
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>




{% endblock %}
{% block aside %}{% endblock %}