{% extends '::frontend.html.twig' %}
{% block id 'user_teacher_register' %}
{% block title %}Regístrate como profesor{% endblock %}
{% block article %}    
<div class="hero">
    <div class="register">
        <div class="brand"></div>
        <h1>{{ block('title') }}</h1>
        {% if errorMsg | length > 0  or form_errors(form) | length > 0 %}
            <div class="errors mr10 ml2">
                {% if errorMsg | length > 0 %}
                    <div><span class="error_icon"></span>{{ errorMsg }}</div>
                {% endif %}
                {% if form_errors(form) | length > 0 %}
                    <div><span class="error_icon"></span>{{ form_errors(form) }}</div>
                {% endif %}
            </div>
        {% endif %}
        <form action="{{ path('user_teacher_register', { 'errorMsg': 0 }) }}" method="post" {{ form_enctype(form) }}>            
            {{ form_errors(form.email)  }}
            {{ form_widget(form.email, { 'attr': {'placeholder': 'Email' } }) }}                                 
            
            {% if errorPass is defined %}
                <ul><li>{{ errorPass }}</li></ul>
            {% endif %}                                    
            {{ form_errors(form.password.first) }}
            {{ form_widget(form.password.first, { 'attr': {'placeholder': 'Contraseña' } }) }}
            {{ form_widget(form.password.second, { 'attr': {'placeholder': 'Repita la contraseña' } }) }}
            
            {{ form_errors(form.nifCif)  }}
            {{ form_widget(form.nifCif, { 'attr': {'placeholder': 'DNI/CIF' } }) }}
            
            {{ form_widget(form.companyName, { 'attr': {'placeholder': 'Empresa' } }) }}
            
            {{ form_errors(form.name)  }}
            {{ form_widget(form.name, { 'attr': {'placeholder': 'Nombre' } }) }}
            
            {{ form_errors(form.surnames)  }}
            {{ form_widget(form.surnames, { 'attr': {'placeholder': 'Apellidos' } }) }}
            
            {{ form_errors(form.telephone)  }}
            {{ form_widget(form.telephone, {'attr': {'placeholder': 'Teléfono','onkeyup': 'onlyNumbers("teachertype_telephone");'}}) }} 
            
            {{ form_errors(form.mobile) }}
            {{ form_widget(form.mobile, {'attr': {'placeholder': 'Teléfono móvil','onkeyup': 'onlyNumbers("clienttype_mobile");'}}) }}
            
            {{ form_errors(form.town)  }}
            {{ form_widget(form.town, { 'attr': {'placeholder': 'Población' } }) }}
            
            {{ form_errors(form.province)  }}
            {{ form_widget(form.province, { 'attr': {'placeholder': 'Provincia' } }) }}
            
            {{ form_errors(form.address)  }}
            {{ form_widget(form.address, { 'attr': {'placeholder': 'Dirección' } }) }}
            
            {{ form_errors(form.zipcode)  }}
            {{ form_widget(form.zipcode, { 'attr': {'placeholder': 'Código postal' } }) }}
                        
            <div style="display:none">
            {{ form_end(form) }}
            </div>
            <input class="boton boton-submit" type="submit" value="Registrarme" />
        </form>
    </div>
</div>
{% endblock %}
{% block aside %}{% endblock %}
